
<ul>
  <h2><%= @list_name%> </h2>
  <li>
    <input type="checkbox"></input>
    <span><%= @todo_one_description %> </span>
    <strong><%= @todo_one_pomodoro_estimate %></strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span><%= @todo_two_description %></span>
    <strong><%= @todo_two_pomodoro_estimate %></strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span><%= @todo_three_description %></span>
    <strong><%= @todo_three_pomodoro_estimate %></strong>
  </li>
</ul>
